{% extends 'main/main.html' %} 
<!-- template kế thừa, kéo dài của main.html-->
{% load static %}

{% block content %} <!-- nội dung được chứa trong khối content -->

<br>
<h5>CUSTOMER INFORMATION</h5>
<div class="row">
	<div class="col-md-4">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_customer' %}">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_customer' %}">Delete Customer</a>

		</div>
	</div>
	<div class="col-md-8">
		<div class="card card-body">
			<h5>Information Detail</h5>
			<hr>
			<p>Name: </p>
			<p>Identity Code: </p>
			<p>Phone: </p>
			<p>Created Date: </p>

		</div>
	</div>
</div>

{% endblock %}