{% load static %}
<div class='container'>
<h1 class='page-title'>Let's start</h1>
<form>
    <div class='form-group'>
        <div class='row'>
            <div class='col'>
                <label for='departureDate'>Your (planned) departure date</label>
                <input type='date' name='departureDate' id='departureDate' class='form-control'>
            </div>
            <div class='col'>
                <label for='departureAirport'>Your departure airport</label>
                <input type='text' name='departureAirport' id='departureAirport' class='form-control' placeholder='JFK: John F. Kennedy International Airport'>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <div class='row'>
            <div class='col'>
                <label for='arrivalDate'>Your (planned) arrival date</label>
                <input type='date' name='arrivalDate' id='arrivalDate' class='form-control'>
            </div>
            <div class='col'>
                <label for='arrivalAirport'>Your departure airport</label>
                <input type='text' name='arrivalAirport' id='arrivalAirport' class='form-control' placeholder='SVO: Sheremetyevo International Airport'>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <div class='row'>
            <div class='col'>
                <label for='ticketClass'>Ticket class: </label>
                <div class='form-check form-check-inline'>
                    <input class='form-check-input' type='radio' name='ticketClass' id='first_class' checked>
                    <label class='form-check-label' for='first_class'>First class</label>
                </div>
                <div class='form-check form-check-inline'>
                    <input class='form-check-input' type='radio' name='ticketClass' id='economy_class'>
                    <label class='form-check-label' for='economy_class'>Economy class</label>
                </div>
            </div>
            <div class='col'>
                <button type='submit' class='btn btn-lg btn-outline-info'>Search for flights</button>
                <button type='reset' class='btn btn-lg btn-outline-primary'>Reset fields</button>
            </div>
        </div>
    </div>
</form>
</div>