{% extends 'main/main.html' %}
{% block title %}
Delete Flight
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include 'main/flight/sideinfo.html' with flight=ticket.flight %}
        </div>
        <div class="col-md-8">
            <div class="card card-body">
                <p>Are you sure you want to delete {{ ticket }}?<p>
                <p class="text-danger">Note: this action cannot be undo, so please be careful with your decision.</p>
                <form action="{% url 'flight.reservation.delete' ticket.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'flight.reservation.detail' ticket.id %}">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}