{% extends 'main/main.html' %}

{% block title %}
Your Reservations
{% endblock title %}

{% block content %}
<div class="container">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <p class="text-success">{{ message }}</p>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="card card-body">
            <h5 class="page-title">Your Reservations</h5>
            <table class="table">
                <thead class="thead-dark">
                    <th>Flight</th>
                    <th>Class</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Date created</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% if not page_obj %}
                    <tr>
                        <td colspan="5">No reservations found.</td>
                    </tr>
                    {% endif %}
                    {% for ticket in page_obj %}
                        <tr>
                            <td>{{ ticket.flight }}</td>
                            <td>{{ ticket.ticket_class }}</td>
                            <td>{{ ticket.price }}</td>
                            {% if ticket.is_booked %}
                            <td><span class="badge badge-success">Paid</span></td>
                            {% elif ticket.is_canceled %}
                            <td><span class="badge badge-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Canceled since the flight has taken off and no payment made.">Canceled</span></td>
                            {% else %}
                            <td><span class="badge badge-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Payment needed">Unpaid</span></td>
                            {% endif %}
                            <td>{{ ticket.date_created }}</td>
                            <td>
                                <div class="btn-group">
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="View detail" class="btn btn-info btn-sm" href="{% url "flight.reservation.detail" ticket.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                    </a>
                                    {% if not ticket.is_booked and ticket.can_update %}
                                    <a href="{% url 'flight.reservation.payment' ticket.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pay" class='btn btn-sm btn-primary'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                                        </svg>
                                    </a>
                                    {% endif %}
                                    {% if perms.main.change_reservation and ticket.can_update %}
                                    <a href="{% url 'flight.reservation.update' ticket.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="btn btn-sm btn-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                    {% endif %}
                                    {% if perms.main.delete_reservation and ticket.can_update %}
                                        <a href="{% url 'flight.reservation.delete' ticket.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove" class='btn btn-sm btn-danger'>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'main/paginator.html' %}
        </div>
    </div>
</div>
{% endblock content %}