{% extends 'main/main.html' %}

{% block title %}
Flight Detail
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <h5 class='page-title'>Flight Basic Information</h5>
                <hr>
                <table>
                    <tr>
                        <td>Flight ID</td>
                        <td>{{ flight.id }}</td>
                    </tr>
                    <tr>
                        <td>Departure</td>
                        <td>{{ flight.departure_airport }}</td>
                    </tr>
                    <tr>
                        <td>Arrival</td>
                        <td>{{ flight.arrival_airport }}</td>
                    </tr>
                    <tr>
                        <td>Departure date</td>
                        <td>{{ flight.date_time }}</td>
                    </tr> 
                </table>
                {% if perms.main.change_flight %}
                <hr>
                <a href="{% url 'flight.update' flight.id %}">Update Flight basic informations</a>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card card-body">
                <h5>Flight Details</h5>
                <hr>
                <table>
                    <tr>
                        <td>Flight time</td>
                        <td>{{ flight.flightdetail.flight_time }}</td>
                        <td>(min)</td>
                    </tr>
                    <tr>
                        <td>First class seats</td>
                        <td>{{ flight.flightdetail.first_class_seat_size }}</td>
                        <td>(seats)</td>
                    </tr>
                    <tr>
                        <td>Economy class seats</td>
                        <td>{{ flight.flightdetail.second_class_seat_size }}</td>
                        <td>(seats)</td>
                    </tr>
                </table>
                {% if perms.main.change_flight %}
                <hr>
                <a href="{% url 'flight.detail.update' flight.id %}">Update Flight details</a>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <h5 class="page-title">Transition Airports</h5>
                <hr>
                <table class='table'>
                    <thead>
                        <th>Airport</th>
                        <th>Transition time</th>
                        <th>Note</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cam Ranh</td>
                            <td>11/12/2022</td>
                            <td>DMCS</td>
                            <td>
                                {% if perms.main.change_flight %}
                                <div class="btn-group">
                                    <a href='#' class='btn btn-sm btn-warning'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                    <a href='#' class='btn btn-sm btn-danger'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% if perms.main.change_flight %}
                <a href="#">Add a new Transition Airport</a>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}