{% extends 'main/main.html' %}

{% block title %}
Create a new Flight
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card card-body">
            <h5 class="page-title">Create a new Flight</h5>
            <hr>
            <form action="{% url 'flight.create' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <ul class="text-danger">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                
                <a class="btn btn-info" href="{% url 'flight.list' %}">Cancel</a>

                <input class="btn btn-warning" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock content %}