{% extends 'main/main.html' %}
{% block content %}

<br>
<style>
    h1 {text-align: center;}
    h1 {color: #AEF711}
</style>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h1>Flights</h1>
        </div>
        <div class="card card-body">
            <a role="button" class="btn btn-primary" href="{% url 'flight_create' %}">Create Flight</a>    <!--For admin-->
            <a role="button" class="btn btn-warning" href="{% url 'flight_detail_create' %}">Create Flight Detail</a>  <!--For admin-->
            
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Date</th>
                    <th></th>
                </tr>

                {% for flight in flights %}
                    <tr>
                        <td>{{flight}}</td>
                        <td>{{flight.departure_airport}}</td>
                        <td>{{flight.arrival_airport}}</td>
                        <td>{{flight.date_time}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'flight_detail' flight.id %}">Detail</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}