{% extends 'main/main.html' %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class="card card-body">
            <div class="col"></div>
            <div class='col'>
                <h5 class='page-title'>Update your personal profile</h5>
                <a href="{% url "profile.view" %}">Back to your profile</a>
                <hr/>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <p class="text-danger">{{ message }}</p>
                    {% elif message.tags == 'success' %}
                        <p class="text-success">{{ message }}</p>
                    {% endif %}

                {% endfor %}
                <form action='{% url "profile.update_information" %}' method='POST'>
                    {% csrf_token %}
                    {{ customer_form.as_p }}
    
                    <div class='form-group'>
                        <button type='submit' class='btn btn-outline-success btn-lg'>Save</button>
                        <button type='reset' class='btn btn-outline-primary btn-lg'>Reset</button>
                    </div>
                </form>
            </div>
            <div class='col'></div>
        </div>
    </div>
</div>
{% endblock %}