{% extends 'main/main.html' %}

{% block title %}
Update Profile
{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class="card card-body">
            <div class="col"></div>
            <div class='col'>
                <h5 class='page-title'>Update your personal profile</h5>
                <a href="{% url "profile.view" %}">Back to your profile</a>
                <hr/>
                {% if message.tags == 'success' %}
                    <p class="text-success">{{ message }}</p>
                {% endif %}

                <form action='{% url "profile.update_information" %}' method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            <ul class="text-danger">
                            {% for error in field.errors  %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
    
                    <div class='form-group'>
                        <button type='submit' class='btn btn-outline-success btn-lg'>Save</button>
                        <button type='reset' class='btn btn-outline-primary btn-lg'>Reset</button>
                    </div>
                </form>
            </div>
            <div class='col'></div>
        </div>
    </div>
</div>
{% endblock %}