{% extends 'main/main.html' %}
{% block content %}
<br/>
<div class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <div class='card card-body'>
                <h5>Profile picture</h5>
                <hr>
                // profile goes here
            </div>
        </div>
        <div class='col-md-9'>
            <div class='card card-body'>
                <h5>Customer Information</h5>
                <hr>
                <p>Name: Trần Lùi Xuống (@tlxuong)</p>
                <p>Email: tlxuong@fit.hcmus.edu.vn</p>
                <p>Phone: 0123456789</p>
                <p>Role: Teacher</p>
                <a href='#'>Update profile</a>
            </div>
        </div>
    </div>
</div>
<br/>
{% endblock %}
