{% load static %}

<footer class='pt-4 pt-md-5 border-top'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <img class='mb-2' src="{% static 'images/grouplogo.png' %}" width="48" height="48">
                <small class='d-block mb-3 text-muted'>&copy; 2022</small>
            </div>

            <div class='col'>
                <p class='text-muted'>A project in Introduction to Software Engineering (CSC13002)</p>
                <p class='text-muted'>Checkout project repository on <a href='https://github.com/trhgquan/flight-manager' target='_blank'>GitHub</a>
            </div>

            <div class='col'>
                <p class='text-muted'>VNUHCM - University of Science, Spring 2022</p>
            </div>
        </div>
    </div>
</footer>