{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" width="120" height="50" alt="Logo">
    </a>
    
    <ul class="nav navbar-nav">
        {% if not user.is_authenticated %}
        <li class='nav-item'>
            <a class='nav-link' href='{% url "auth.signup" %}'>Sign up</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='{% url "auth.signin" %}'>Sign in</a>
        </li>
        {% else %}
        <li class="{% if nbar == 'home' %}nav-item active {% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='{% url "flight_list" %}'>Flight</a>
        </li>
        <li class="{% if nbar == 'airport_list' %}nav-item active {% endif %}">
            <a class="nav-link" href="{% url 'airport_list' %}">Airport</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello, {{ request.user }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class='dropdown-item' href="{% url 'auth.signout' %}">Logout</a>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>

