{% extends 'main/main.html' %}

{% block content %}
<br/>
<div class='container'>
    <div class='row'>
        <div class='col-md-5'>
            <form id='reportSelectionForm'>
                <div class='row'>
                    <label for='reportMonth'>Query</label> 
                    <input type='date' id='reportMonth' name='reportMonth' class='form-control mb-2 mr-sm-2'/> 
                </div>

                <div class='row'>
                    <label for='reportType'>Filter by</label> 
                    <select class='form-control' name='reportType' id='reportType'>
                        <option value='month'>Month</option>
                        <option value='month'>Year</option>
                    </select>

                    <button class='btn btn-outline-primary btn-block' type='submit'>Create report</button>
                </div>
            </form>
        </div>
        <div class='col-md-7'>
            <table class='table table-hover'>
                <thead>
                    <th>Mã chuyến bay</th>
                    <th>Số ghế</th>
                    <th>Doanh thu</th>
                    <th>%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>VN001</td>
                        <td>120</td>
                        <td>120000000</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>VN001</td>
                        <td>120</td>
                        <td>120000000</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>VN001</td>
                        <td>120</td>
                        <td>120000000</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>VN001</td>
                        <td>120</td>
                        <td>120000000</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
            <!-- Pagination menu -->
        </div>
    </div>
</div>
{% endblock %}