{% extends 'main/main.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col'></div>
    <div class='col'>
        <center>
            <h1 class='page-title'>Login</h1>
            <p class='text-muted'>One-step away from your amazing journey!</p>
        </center>
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <p class='text-danger'>{{ message }}</p>
            {% elif message.tags == 'success' %}
                <p class='text-success'>{{ message }}</p>
            {% endif %}
        {% endfor %}
        <form method='POST'>
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                <ul class="text-danger">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

            <div class='form-group'>
                <button type='submit' class='btn btn-lg btn-success btn-block'>Login</button>
                <br>
                <p class='text-muted'>Haven't got an account yet?</p>
                <a href='{% url "auth.signup" %}' class='btn btn-lg btn-info btn-block'>Join us</a>
            </div>
        </form>
    </div>
    <div class='col'></div>
</div>
{% endblock %}